@font-face {
  font-family: "Kade-Regular";
  src: url("../fonts/kade.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #232c3c;
  /* color: #e7e9eb; */
  color: #f7f9fb;
  font-family: "Kade-Regular";
}

a:link, a:visited, a:hover {
  color: #aebeda;
  text-decoration: none;
}

h1, h3, h4, h5, div.container {
  text-align: center;
}

div.container > * {
  vertical-align: top;
}

div.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* centers when fewer items fit */
    gap: 25px;                /* space between containers */ 
}

div.container {
  background: #ffffff11;
  padding: 15px;
  width: fit-content;
  margin-bottom: 25px;
  border-radius: 10px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 6pt;
  color: #e7e9eb;
}

h4 {
  color: #909296;
}

h5 {
  margin-top: 0px;
  color: #a7a9ab;
}

div.rating {
  display: inline-block;
  text-align: center;
  width: 300px;
}

div.spacer {
  height: 60px;
}

div.gage {
  width: 270px;
  margin: -35px 15px;
  height: 210px;
}

div.shannon {
  background: #ffffff0d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid #ffffff1d;
}

div.shannon div.index {
  font-size: 15pt;
  margin-bottom: 0.2em;
}

div.shannon div.index span {
  color: white;
  margin-left: 10px;
}

div.shannon div.icon {
    margin-top: 0.5em;
    font-size: 15pt;
}

div.shannon div.icon img {
  display: inline;
  height: 1.5em;
  vertical-align: middle;
  margin-left: 10px;
}

p {
  width: 100%;
  max-width: 440px;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: left;
  padding-right: 10px;
}

td {
  text-align: right;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12pt;
  color: #b0b2b6;
}

div.data {
  margin: 3px;
  font-size: 0.8em;
  color: #909296;
}

details summary {
  color: #909296;
  margin-bottom: 5px;
}
